<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;600&family=Poppins:wght@400;700&family=Signika:wght@500&family=Staatliches&display=swap" rel="stylesheet">
    <title>PRODUCTS | WIRE IT</title>
</head>

<body class="bg-gradient-to-r from-[#1B1D29] to-[#7C85BD]">
    <div id="app">
        <header class="flex flex-wrap fixed lg:static top-0 z-40 bg-gradient-to-r from-[#1B1D29] to-[#7C85BD] w-full justify-around lg:justify-between lg:px-10">
            <a v-if="!isLoggedIn" href="./register.html" class="group flex flex-col pt-4 pb-3 min-h-[10vh] lg:hidden">
                <svg width="26px" height="26px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>

                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

                    <g id="SVGRepo_iconCarrier">

                    <path fill="#ffffff" d="M628.736 528.896A416 416 0 0 1 928 928H96a415.872 415.872 0 0 1 299.264-399.104L512 704l116.736-175.104zM720 304a208 208 0 1 1-416 0 208 208 0 0 1 416 0z"/>

                    </g>

                </svg>
                <p class="text-white text-[10px] pt-0.5 group-hover:text-neutral-300">Login</p>
            </a>
            <a v-else href="./profile.html" class="group flex flex-col items-center pt-4 pb-3 min-h-[10vh] lg:hidden">
                <svg width="26px" height="26px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>

                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

                    <g id="SVGRepo_iconCarrier">

                    <path fill="#ffffff" d="M628.736 528.896A416 416 0 0 1 928 928H96a415.872 415.872 0 0 1 299.264-399.104L512 704l116.736-175.104zM720 304a208 208 0 1 1-416 0 208 208 0 0 1 416 0z"/>

                    </g>

                </svg>
                <p class="text-white text-[10px] pt-0.5 group-hover:text-neutral-300">Account</p>
            </a>

            <a href="../../../index.html" class="flex items-center content-center min-h-[10vh]">
                <img class="w-4 md:w-6" src="../images/icon.png" alt="icon">
                <h2 class="text-2xl md:text-3xl font-extrabold flex self-center text-white font-['Montserrat']">WIRE IT
                </h2>
            </a>

            <ul class="nav-menu lg:hidden">
                <li v-show="!isLoggedIn" class="nav-item border-t-2">
                    <a href="./register.html" class="nav-link text-white">Login | Register</a>
                </li>
                <li v-show="isLoggedIn" class="nav-item" class="nav-item border-t-2">
                    <a href="./profile.html" class="nav-link text-white">My Account</a>
                </li>
                <li class="nav-item" >
                    <a href="./product.html" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                    <a href="./aboutus.html" class="nav-link text-white">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="./contact.html" class="nav-link text-white">Contact Us</a>
                </li>
                <li v-show="isLoggedIn" class="nav-item">
                    <button class="nav-link text-white" @click="logout()">Logout</button>
                </li>
                <li class="nav-item h-[100dvh]">
                    <a href="#" class="nav-link"></a>
                </li>
            </ul>
            <div class="py-3 [10vh] lg:hidden">
                <div class="hamburger" @click="showMenu = !showMenu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <p class="text-white text-[10px] pt-0.5">Menu</p>
            </div>
            <nav class="hidden lg:flex self-center gap-5">
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../../../index.html">Home</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400"
                    href="./product.html">Products</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400"
                    href="./aboutus.html">About Us</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400"
                    href="../pages/contact.html">Contact</a>
                <a v-show="isLoggedIn" class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="./profile.html">My Account</a>
            </nav>

            <div class="hidden lg:flex flex-row self-center gap-4">
                <div class="hidden md:block md:flex">
                    <img class="md:w-8 cursor-pointer object-contain" src="../images/carrito tuneado.png"
                        alt="cart">
                </div>

                <a v-if="!isLoggedIn" href="./register.html" class="group hidden lg:flex flex-row self-center gap-1 p-2">
                    <h2 class="font-['Poppins'] text-white text-lg group-hover:text-slate-200">Login</h2>
                    <img class="w-7 group-hover" src="../images/icon-login.png" alt="login">
                </a>
                <button v-else class="group hidden lg:flex flex-row self-center gap-1 p-2" @click="toggleDropdown">
                    <svg width="28px" height="28px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ffffff">
                        <circle cx="12" cy="7.25" r="5.73" stroke-width="1.91px"/>
                        <path d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05" fill="none" stroke-width="1.91px"/>
                    </svg>
                    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                               <!--<style>.cls-1{fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.91px;}</style>-->
                            </defs>
                            <polyline class="cls-1" points="6 10 12 20 18 11"/>
                        </g>
                    </svg>
                    <div v-if="showDropdown" class="dropdown-menu">
                        <ul>
                            <li>
                                <a href="./profile.html">My Account</a>
                            </li>
                            <li>
                                <a href="./cart.html">Cart</a>
                            </li>
                            <li>
                                <a href="./profile.html">Previous Orders</a>
                            </li>
                            <li @click="logout()">Log Out</li>
                            <li class="h-[100vh]" style="pointer-events: none;"></li>
                        </ul>
                    </div>
                </button>
            </div>
        </header>
        <main class="w-full pt-10 lg:pt-5 md:pt-28">
            <section class="w-full flex justify-end md:justify-center md:py-3">
                <div class="md:flex md:flex-row md:justify-center md:w-[88%]">
                    <input class="hidden md:block bg-transparent border-b border-white" type="search" name="search" id="search" placeholder="Search...">
                    <img class="md:opacity-50 md:w-8 w-12 md:object-contain md:bg-transparent bg-slate-400 rounded-l-xl  md:p-0 p-2 cursor-pointer md:static fixed top-20 left-50" src="../images/icons8-lupa-48.png" alt="search">
                </div>
           </section>
        <div v-if="loadingData" class="flex w-full justify-center">
            <div  class="flex flex-col w-44">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="#FFFFFF"></stop>
                    <stop offset=".3" stop-color="#FFFFFF" stop-opacity=".9"></stop>
                    <stop offset=".6" stop-color="#FFFFFF" stop-opacity=".6"></stop>
                    <stop offset=".8" stop-color="#FFFFFF" stop-opacity=".3"></stop>
                    <stop offset="1" stop-color="#FFFFFF" stop-opacity="0"></stop>
                    </radialGradient><circle transform-origin="center" fill="none" stroke="url(#a12)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle>
                    <circle transform-origin="center" fill="none" opacity=".2" stroke="#FFFFFF" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle>
                </svg>
                <h2 class="text-2xl self-center text-white font-['Montserrat']">Loading...</h2>
            </div>
        </div>
        <section v-else class="w-full flex justify-center">
           <template  v-if="product">
                <article class="flex flex-col md:flex-row md:w-[70%] justify-center md:p-12 bg-[#1B1D29] p-4 rounded-lg md:gap-24 mx-3 md:mx-0 md:my-10 my-16">
                        <img v-if="product.discount > 0" class="absolute flex self-start w-14" src="../images/icons8-venta-60.png" alt="discount">
                        <img class="md:w-[50%] p-2 self-center" v-bind:src="product.image_url+'.png'">
                    <div class="flex flex-col self-center md:gap-6">
                            <h3 class="font-['Montserrat'] self-start font-bold text-4xl md:text-5xl text-white text-start">{{product.name}}</h3>
                            <p class="text-start font-['Poppins'] self-start text-2xl text-slate-400">Brand: {{product.brand}}</p>
                            <p v-if="product.discount <= 0" class="text-start font-['Poppins'] self-start text-white text-3xl">{{product.price.toLocaleString("en-US", {style:"currency", currency:"USD"})}}</p>
                            <p v-if="product.discount > 0" class="text-start font-['Poppins'] self-start text-white text-3xl">{{product.price.toLocaleString("en-US", {style:"currency", currency:"USD"})}}</p>
                            <p v-if="product.discount > 0" class="text-start font-['Poppins'] self-start text-[#FF1200] text-3xl">{{product.discount.toLocaleString("en-US", {style:"currency", currency:"USD"})}}</p>

                            <p class="text-slate-200 text-start self-start font-['Poppins'] text-lg">{{product.description}}</p>
                        <div class="flex w-full place-self-start ">
                            <button class="w-full p-4 bg-[#595F87] rounded-lg font-['Signika'] text-white text-xl text-center">ADD TO CART</button>
                        </div>
                        <div class="flex place-self-start gap-2">
                            <img class="w-8 object-contain self-center" src="../images/icons8-en-tránsito-50.png" alt="shipping">
                            <h3 class="text-slate-200 font-['Poppins'] font-sm self-center">Order now!, Shipping in less than 24 hours</h3>
                        </div>
                    </div>
                </article>
            </template>
        </section>
        </main>
        <footer>
            <div class="flex flex-col w-full p-4 bg-slate-400/20">
                <p class="font-['Poppins'] text-white text-lg text-center">Find us</p>
                <div class="flex w-full justify-center gap-4">
                    <a href="#">
                        <img class="w-10" src="../images/icons8-facebook-48.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img class="w-10" src="../images/icons8-instagram-64.png" alt="instagram">
                    </a>
                    <a href="#">
                        <img class="w-10" src="../images/icons8-tik-tok-30.png" alt="tiktok">
                    </a>
                    <a href="#">
                        <img class="w-9" src="../images/icons8-twitch-50.png" alt="twitch">
                    </a>
                </div>
            </div>
            <section
                class="flex flex-col items-center lg:flex-row lg:content-start lg:items-start gap-5 px-10 w-full pt-8 pb-16 place-content-between bg-[#1B1D29]">
                <div>
                    <ul class="list-none flex flex-col gap-2 lg:mt-8">
                        <li class="text-slate-200 font-bold montserrat text-lg">Shop</li>
                        <li class="text-slate-400 montserrat text-sm">Gadgets</li>
                        <li class="text-slate-400 montserrat text-sm">Set up</li>
                        <li class="text-slate-400 montserrat text-sm">Gaming</li>
                        <li class="text-slate-400 montserrat text-sm">Merch</li>
                        <li class="text-slate-400 montserrat text-sm">something</li>
                        <li class="text-slate-400 montserrat text-sm">something</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-none flex flex-col gap-2 lg:mt-8">
                        <li class="text-slate-200 font-bold montserrat text-lg">Company</li>
                        <li class="text-slate-400 montserrat text-sm">About us</li>
                        <li class="text-slate-400 montserrat text-sm">Contact us</li>
                        <li class="text-slate-400 montserrat text-sm">Support</li>
                        <li class="text-slate-400 montserrat text-sm">Q&A</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-none flex flex-col gap-2 w-[20%] lg:mt-8">
                        <li class="text-slate-200 font-bold montserrat text-lg">Community</li>
                        <li class="text-slate-400 montserrat text-sm">Channels</li>
                        <li class="text-slate-400 montserrat text-sm">News</li>
                        <li class="text-slate-400 montserrat text-sm">Collaborations</li>
                    </ul>
                </div>
                <div class="flex flex-col items-center pt-4 lg:mt-8 lg:pt-0 w-full lg:w-[20%]">
                    <p class="text-slate-200 font-['Montserrat'] font-semibold text-xl text-center">Secure payments</p>
                    <div class="flex flex-row flex-wrap gap-4">
                        <img class="w-12 object-contain" src="../images/american-express.png" alt="american-express">
                        <img class="w-12 object-contain" src="../images/icons8-tarjeta-visa-48.png" alt="visa">
                        <img class="w-12 object-contain" src="../images/logo mastercard.png" alt="mastercard">
                        <img class="w-10 object-contain"
                            src="../images/2487595_club_diners_finance_international_method_icon.png" alt="dinersclub">
                    </div>
                </div>
                <div
                    class="bg-slate-400/20 mt-8 flex flex-col w-full lg:w-[35%] place-items-center rounded-2 rounded-md gap-6 shadow-lg shadow-slate-800 h-80 place-content-center">
                    <h2 class="text-white font-extrabold font-['Montserrat'] text-3xl md:text-4xl">NEWSLETTER</h2>
                    <p class="text-white font-['Poppins'] text-sm w-10/12 text-center">Subscribe our newsletter to stay
                        updated every moment and get the best deals.</p>
                    <input class="rounded-lg p-1 ring-2 ring-slate-600 w-10/12" type="text" id="email" name="email"
                        placeholder="Enter your email address">
                    <button
                        class="text-white font-['Poppins'] w-8/12 text-sm md:max-w-28 bg-[#22215D] rounded-lg p-1 ring-2 ring-slate-500">Submit</button>
                    <div class="flex gap-1">
                        <input type="checkbox" id="terms" name="terms">
                        <p class="text-white font-['Poppins'] text-xs">I accept</p>
                        <a class="text-white font-['Poppins'] text-xs underline" href="#">Terms and Conditions</a>
                    </div>
                </div>
            </section>
            <div class="ps-16 pe-16 bg-[#1B1D29]">
                <div class="border-b border-slate-600"></div>
            </div>
            <section
                class="flex flex-col gap-4 w-full px-5  items-center md:flex-row md:ps-16 md:pe-16 py-8 place-content-between bg-[#1B1D29]">
                <p class="text-slate-400 text-center montserrat text-xs w-full md:w-[34%]">Copyright © 2024 WireIt Inc.
                    MINDHUB Cohort52. All rights reserved.</p>
                <nav class="grid grid-cols-4 flex flex-col lg:gap-4 md:flex-row text-center divide-x">
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline self-center" href="#">Site
                        Map</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Legal Terms</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Privacy Policy</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Cookie Policy</a>
                </nav>
                <!-- <div class="grid grid-cols-2 divide-x">
                    <p class="text-slate-200 text-center montserrat text-xs hover:underline">United States</p>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Change Location ></a>
                </div> -->
            </section>
        </footer>
    </div>
    <script src="../js/vanilla-ham.js"></script>
    <script src="../../../tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/product-details.js"></script>
</body>
</html>