<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;600&family=Poppins:wght@400;700&family=Signika:wght@500&family=Staatliches&display=swap" rel="stylesheet">
    <title>ADMIN | WIRE IT</title>
</head>
<body class="bg-gradient-to-r from-[#1B1D29] to-[#7C85BD]">
    <div id="app">
        <header class="flex flex-wrap fixed lg:static top-0 z-40 bg-gradient-to-r from-[#1B1D29] to-[#7C85BD] w-full justify-around lg:justify-between lg:px-10">
            <a href="../../../index.html" class="flex items-center content-center min-h-[10vh]">
                <img class="w-4 md:w-6" src="../images/icon.png" alt="icon">
                <h2 class="text-2xl md:text-3xl font-extrabold flex self-center text-white font-['Montserrat']">WIRE IT
                </h2>
            </a>
            <ul class="nav-menu lg:hidden">
                <li class="nav-item border-t-2">
                    <a href="../../../index.html" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/carrito.html" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/aboutus.html" class="nav-link text-white">Clients</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/contact.html" class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-white" @click="logout()">Logout</button>
                </li>
                <li class="nav-item h-[100dvh]">
                    <a href="#" class="nav-link"></a>
                </li>
            </ul>
            <div class="py-3 [10vh] lg:hidden">
                <div class="hamburger" @click="showMenu = !showMenu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <p class="text-white text-[10px] pt-0.5">Menu</p>
            </div>
            <nav class="hidden lg:flex self-center gap-5">
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../../../index.html">Home</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/product.html">Products</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/aboutus.html">About Us</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/contact.html">Contact</a>
                <button class="font-['Poppins'] text-white text-lg hover:text-slate-400" @click="logout()">Logout</button>
            </nav>
            <div class="hidden flex-row self-center gap-4">
                <div class="hidden md:block md:flex">
                    <img class="md:w-8 cursor-pointer object-contain" src="../images/carrito tuneado.png" alt="cart">
                </div>
                <a href="#" class="group hidden flex-row self-center gap-1 p-2">
                    <h2 class="font-['Poppins'] text-white text-lg group-hover:text-slate-200">Login</h2>
                    <img class="w-7 group-hover" src="../images/icon-login.png" alt="login">
                </a>
            </div>
        </header>
        <main class="w-full flex flex-col gap-5 items-center pt-20 lg:pt-5 md:pt-28 flex-grow">
            <h1 class="font-extrabold font-['Montserrat'] text-white text-4xl md:text-5xl text-center">Admin Panel</h1>
           
            <div v-if="products" class="w-11/12 md:w-9/12 flex flex-col gap-5 items-center">
                <h2 class="font-semibold font-['Montserrat'] text-white text-3xl md:text-4xl text-center">Products</h2>
               
                <div class="w-11/12 felx flex-col items-center gap-5">
                    <h3 class="font-semibold font-['Montserrat'] text-white text-lg md:text-2xl text-center">Filter By</h3>
                    <div>
                        <label for="category" class="text-xl font-bold flex flex-col self-start pb-1 text-start text-white montserrat">Category:</label>
                        <select name="category" class="w-full md:w-6/12 mb-3 bg-blue-300/30 p-1 rounded-md text-white" v-model="category">
                            <option value="" disabled selected>Select Category</option>
                            <option value="ALL">All Products</option>
                            <option value="CPU">CPU</option>
                            <option value="HEADPHONES">Headphones</option>
                            <option value="KEYBOARD">Keyboard</option>
                            <option value="MONITOR">Monitor</option>
                            <option value="MOUSE">Mouse</option>
                        </select>
                    </div>
                    <div>
                        <label class="text-xl font-bold flex flex-col self-start pb-1 text-start text-white montserrat">Sort By:</label>
                        <div>
                            <input type="checkbox" id="sortByPrice" v-model="sortByPrice">
                            <label for="sortByPrice" class="text-white text-base">Price</label>
                        </div>
                        <div v-if="sortByPrice" class="flex flex-col self-center pb-3 text-start text-white montserrat">
                            <label for="minPrice" class="text-white">Minimum Price:</label>
                            <input type="number" id="minPrice" v-model="minPrice" placeholder="$0" class="w-full mb-2 bg-blue-300/30 p-1 rounded-md text-white">
                            <label for="maxPrice" class="text-white">Maximum Price:</label>
                            <input type="number" id="maxPrice" v-model="maxPrice" placeholder="Maximum Value (e.g. $100)" class="w-full mb-2 bg-blue-300/30 p-1 rounded-md text-white">
                        </div>
                        <div>
                            <input type="checkbox" id="sortByStock" class="p-4" v-model="sortByStock">
                            <label for="sortByStock" class="text-white text-base">Stock</label>
                        </div>
                        <div>
                            <label class="text-xl font-bold flex flex-col self-start pb-1 text-start text-white montserrat">Search:</label>
                            <input type="text" @input="applyFilters" v-model="searchQuery" placeholder="Search by name" class="w-full mb-2 bg-blue-300/30 p-1 rounded-md text-white">
                        </div>

                    </div>
                    <div class="w-full flex justify-center">
                        <button @click="applyFilters" class="bg-[#0f2134] w-7/12 text-white hover:text-slate-300 rounded-md p-2 mt-3">Apply Filters</button>
                    </div>   
                </div>

                <table class="w-11/12 mt-5 mb-10 border-solid border-b-2 border-gray-400">
                    <tr class="bg-slate-800">
                        <th class="px-2 py-3 text-white">Name</th>
                        <th class="hidden sm:table-cell px-2 py-3 text-white">Brand</th>
                        <th class="px-2 py-3 text-white">Price</th>
                        <th class="px-2 py-3 text-white">Stock</th>
                    </tr>
                    <tr v-for="product in products" class="border-solid border-b-2 hover:bg-slate-500 border-gray-400 w-full">
                        <td class="px-4 py-3 text-white text-start">{{product.name}}</td>
                        <td class="hidden sm:table-cell px-2 py-3 text-white text-center">{{product.brand}}</td>
                        <td class="px-2 py-3 text-white text-end">{{product.price.toLocaleString("en-US", {style:"currency", currency:"USD"})}}</td>
                        <td v-if="product.stock <= 5 && product.stock > 0" class="px-2 md:pr-4 py-3 text-amber-400 text-center font-semibold">{{product.stock}}<span class="text-amber-400 text-xs ml-1 font-semibold">*Last Units</span></td>
                        <td v-else-if="product.stock == 0" class="px-2 md:pr-4 py-3 text-red-500 text-center">Out of stock</td>
                        <td v-else-if="product.stock > 5" class="px-2 md:pr-4 py-3 text-white text-center font-semibold">{{product.stock}}</td>
                    </tr>
                </table>
                 <a href="./stockManagement.html" class="font-['Poppins'] mb-10 py-3 px-5 text-white text-lg hover:text-white bg-transparent  hover:bg-green-700 border-2 border-green-200 rounded-lg">Add New Product | Renew Stock</a>
            </div>
        </main>
        <footer class="bottom-0 w-full">
            <section class="flex flex-col gap-4 w-full px-5  items-center md:flex-row md:ps-16 md:pe-16 py-8 place-content-between bg-[#1B1D29]">
                <p class="text-slate-400 text-center montserrat text-xs w-full md:w-[34%]">Copyright © 2024 WireIt Inc. MINDHUB Cohort52. All rights reserved.</p>
                <nav class="grid grid-cols-4 flex flex-col lg:gap-4 md:flex-row text-center divide-x">
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline self-center" href="#">Site Map</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Legal Terms</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Privacy Policy</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Cookie Policy</a>
                </nav>
            </section>
        </footer>
    </div>
    <script src="../js/vanilla-ham.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./admin.js"></script>
</body>
</html>