<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;600&family=Poppins:wght@400;700&family=Signika:wght@500&family=Staatliches&display=swap" rel="stylesheet">
    <title>STOCK | WIRE IT</title>
</head>
<body class="bg-gradient-to-r from-[#1B1D29] to-[#7C85BD]">
    <div id="app">
        <header class="flex flex-wrap fixed lg:static top-0 z-40 bg-gradient-to-r from-[#1B1D29] to-[#7C85BD] w-full justify-around lg:justify-between lg:px-10">
            <a href="../../../index.html" class="flex items-center content-center min-h-[10vh]">
                <img class="w-4 md:w-6" src="../images/icon.png" alt="icon">
                <h2 class="text-2xl md:text-3xl font-extrabold flex self-center text-white font-['Montserrat']">WIRE IT
                </h2>
            </a>
            <ul class="nav-menu lg:hidden">
                <li class="nav-item border-t-2">
                    <a href="../../../index.html" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/carrito.html" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/aboutus.html" class="nav-link text-white">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="../pages/contact.html" class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-white" @click="logout()">Logout</button>
                </li>
                <li class="nav-item h-[100dvh]">
                    <a href="#" class="nav-link"></a>
                </li>
            </ul>
            <div class="py-3 [10vh] lg:hidden">
                <div class="hamburger" @click="showMenu = !showMenu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <p class="text-white text-[10px] pt-0.5">Menu</p>
            </div>
            <nav class="hidden lg:flex self-center gap-5">
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../../../index.html">Home</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/product.html">Products</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/aboutus.html">About Us</a>
                <a class="font-['Poppins'] text-white text-lg hover:text-slate-400" href="../pages/contact.html">Contact</a>
                <button class="font-['Poppins'] text-white text-lg hover:text-slate-400" @click="logout()">Logout</button>
            </nav>
            <div class="hidden flex-row self-center gap-4">
                <div class="hidden md:block md:flex">
                    <img class="md:w-8 cursor-pointer object-contain" src="../images/carrito tuneado.png" alt="cart">
                </div>
                <a href="#" class="group hidden flex-row self-center gap-1 p-2">
                    <h2 class="font-['Poppins'] text-white text-lg group-hover:text-slate-200">Login</h2>
                    <img class="w-7 group-hover" src="../images/icon-login.png" alt="login">
                </a>
            </div>
        </header>
        <main class="w-full flex flex-col gap-5 items-center pt-20 lg:pt-5 md:pt-28 flex-grow">
            <h1 class="font-extrabold font-['Montserrat'] text-white text-4xl md:text-5xl text-center">Stock Management</h1>
           
            <div class="w-11/12 md:w-8/12 lg:w-6/12 flex flex-col gap-5 mt-5 mb-10 md:mb-20 items-center">
                <h2 class="font-semibold font-['Montserrat'] text-white text-3xl md:text-4xl text-center">New Product</h2>
                <form @submit.prevent="addNewProduct()" class="w-full flex flex-col items-center bg-slate-400/30 p-5 md:p-10 lg:p-16 rounded-2xl">
                    <label for="name" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Product Name:</label>
                    <input type="text" name="name" placeholder="Product Name" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="name">

                    <label for="brand" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Brand:</label>
                    <input type="text" name="brand" placeholder="Brand" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="brand">

                    <label for="image" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Image URL:</label>
                    <input type="text" name="image" placeholder="Paste Image URL" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="imgUrl">

                    <label for="description" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Product Description:</label>
                    <input type="text" name="description" placeholder="Product Description" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="description">

                    <label for="category" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Category:</label>
                    <select name="category" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="category">
                        <option value="" disabled selected>Select Category</option>
                        <option value="CPU">CPU</option>
                        <option value="HEADPHONES">Headphones</option>
                        <option value="KEYBOARD">Keyboard</option>
                        <option value="MONITOR">Monitor</option>
                        <option value="MOTHERBOARD">Motherboard</option>
                        <option value="MOUSE">Mouse</option>
                    </select>

                    <label for="price" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Price:</label>
                    <input type="number" name="price" placeholder="$199.99" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="price">

                    <label for="discount" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Discount:</label>
                    <input type="number" name="discount" placeholder="0.0" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="discount">

                    <label for="stock" class="text-xl font-bold flex flex-col self-start pb-1 text-center text-white montserrat">Stock:</label>
                    <input type="number" name="stock" placeholder="Minimum Stock: 1" class="w-full mb-5 bg-blue-300/30 p-1 rounded-md" v-model="stock">

                    <button type="submit" class="font-['Poppins'] my-5 py-3 px-5 text-white text-lg hover:text-white bg-transparent  hover:bg-green-700 border-2 border-green-200 rounded-lg">Confirm</button>

                    <div v-if="error">
                        <p class="text-red-500 text-center text-md">*{{error}}</p>
                    </div>
                </form>
                 
            </div>
        </main>
        <footer class="bottom-0 w-full">
            <section class="flex flex-col gap-4 w-full px-5  items-center md:flex-row md:ps-16 md:pe-16 py-8 place-content-between bg-[#1B1D29]">
                <p class="text-slate-400 text-center montserrat text-xs w-full md:w-[34%]">Copyright © 2024 WireIt Inc. MINDHUB Cohort52. All rights reserved.</p>
                <nav class="grid grid-cols-4 flex flex-col lg:gap-4 md:flex-row text-center divide-x">
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline self-center" href="#">Site Map</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Legal Terms</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Privacy Policy</a>
                    <a class="text-slate-400 text-center montserrat text-xs hover:underline" href="#">Cookie Policy</a>
                </nav>
            </section>
        </footer>
    </div>
    <script src="../js/vanilla-ham.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./stockMng.js"></script>
</body>
</html>